<!DOCTYPE html>
{% extends "Customer/base.html" %}

{% block body_block %}

<div class="container">
<br>
    <br>
    {%csrf_token%}
    <div class="row">
        {% for val in forms %}
        <div class="col-lg-3">
            <div class="card" style="width: 11rem;">
                <div class="card-body">
                    <h6 class="card-title">{{val.name}}</h6>
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}