{% extends 'admin_section/index.html' %}
{% block body_block %}
<div class="container">
    <div class="row">
     
    {% for datas in items %}
    <!-- <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Service_id:{{datas.0}}</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Service:{{datas.1}}</h5>
          <p class="card-text">Category:{{datas.2}}</p>
          
        </div>
      </div> -->
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Customer Name : {{datas.fullname}}</h5>
        <p class="card-text">Customer DOB : {{datas.dOB}}</p>
        <p class="card-text">Customer Sex : {{datas.gender}}</p>
        <p class="card-text">Customer Address : {{datas.address}}</p>
        <a href="#" class="btn btn-primary">Blood Group : {{datas.bloodgroup}}</a>
      </div>
    </div>
    
    {% endfor %}
    </div>
    </div>
    {% endblock %}
     