{% extends 'admin_section/index.html' %}
{% block body_block %}
<div class="container">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">User</label>
      {{form.user}}
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">FullName</label>
      {{form.fullname}}
    </div>
    
    <div class="mb-3">
      <label for="name" class="form-label">Phone</label>
      {{form.phone}}
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      {{form.dob}}
    </div>
    
      <div class="mb-3">
        <label for="gender" class="form-label">Sex</label>
       {{form.gender}}
      </div>
      <div class="mb-3">
        <label for="height" class="form-label">Relationship</label>
       {{form.relationship}}
      </div>      
    <input type="submit" name="Add" class="btn btn-success">
  </form>
</div>
  {% endblock %}