{% extends 'admin_section/index.html' %}
{% block body_block %}
<div class="container">
    <div class="row">
     
    {% for datas in items %}
    <!-- <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Service_id:{{datas.0}}</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Service:{{datas.1}}</h5>
          <p class="card-text">Category:{{datas.2}}</p>
          
        </div>
      </div> -->
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bloodgroup : {{datas.bloodgrouprequest}}</h5>
        <p class="card-text">Patient Name : {{datas.patientname}}</p>
        <p class="card-text">Last Date : {{datas.date}}</p>
        <p class="card-text">Time : {{datas.time}}</p>
        <p class="card-text">Address : {{datas.location}}</p>
        <p class="card-text">Contact : {{datas.phonenumber}}</p>
        <a href="#" class="btn btn-primary">Priority : {{datas.priority}}</a>
        <a href="{% url 'edit' datas.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'view' datas.id %}" class="btn btn-info">View</a>
        <a href="{% url 'delete' datas.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
    {% endfor %}
    </div>
    </div>
    {% endblock %}
     