<!DOCTYPE html>
{% extends "ServiceProvider/index.html" %}

{% block body_block %}
{%csrf_token%}
<div class="container">
        <h1 class="h3 mb-0 text-gray-800" align='center'>List of Services</h1>
        <br>
        <h1>{{request.user.name}}</h1>
        <table class="table">
            <tr>
                <td ><b>Department</b></td>
                <td></td>
                <td><b>Options</b></td>
            </tr>
            {% for val in forms %}
            {% if request.user.is_authenticated %}
            <tr>
                <td><b>{{val.name}}</b></td>
                <td><a href="{% url 'servicingedit' val.id %}" class="btn btn-outline-primary">Edit Service</a></td>
                <td></td>
                <td><a href="{% url 'Deletservice' val.id %}" class="btn btn-outline-primary">Delete Service</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
<br>
{% endblock %}